@charset "utf-8";

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, 
    body {
        font: 16px '210 GureumGothic 050';
        color: #7d7d7d;
    }

    body{
        background-color: #fafafa;
    }

    ul,ol,li {
        list-style: none;
    }

    a {
        display: block;
        text-decoration: none;
        color: #fff;
    }

    strong {
        display: block; 
    }

    h1 {
        font-size: 0px;
    }

    h2 {
        font-size: 36px;
        font-weight: normal;
    }

    h3 {
        font-size: 36px;
        font-weight: normal;
    }

    h4 {
        font-size: 18px;
        font-weight: normal;
    }

    h5 {
        font-size: 24px;
        font-weight: normal;
    }

    p {
        font-size: 16px;
    }

    strong {
        font-weight: normal;
    }

    address {
        text-decoration: none;
        font-size: 16px;
        font: 16px '210 GureumGothic 030';
        color: white;
    }

    button,input {
        font-family: '210 GureumGothic 030';
        border: 0;
        background: none;
        color: white
    }



    header, 
    nav, 
    main,
    article,
    section,
    footer {
        display: block;
    }